.view-title
  Listing categories

- if categories.empty?
  No categories available.
  %br
- else
  %table.table-def
    %tr
      %th.th Name
      %th
      %th
      %th

    - categories.each do |category|
      %tr
        %td= category.name
        %td= link_to 'Show', category, class: 'btn-show'
        %td= admin_only_link_to 'Edit', edit_category_path(category), class: 'btn-edit'
        %td= admin_only_link_to 'Destroy', category, class: 'btn-destroy', method: :delete, data: { confirm: 'Are you sure? This delete all products in this category too.' }

%br

= admin_only_link_to 'New Category', new_category_path, class: 'btn-new'
