.view-title
  Product:
  = product.title

= display_partial('product details', 'product_details')

= super_panel('Reviews', reviews, 'This product has no reviews', 'New review', 'reviews/form')

- if product.is_owned_by?(current_user)
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
  \|
= link_to 'Back', category_products_path, class: 'btn btn-primary'
